<section class="shipping bgwhite p-t-62 p-b-46">
  <div class="flex-w p-l-15 p-r-15">
    <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
      <h4 class="m-text12 t-center">
        Giao hàng miễn phí
      </h4>

      <a href="#" class="s-text11 t-center">
        Thông tin giao hàng
      </a>
    </div>

    <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
      <h4 class="m-text12 t-center">
        7 ngày đổi trả 
      </h4>

      <span class="s-text11 t-center">
        Đổi trả sản phẩm lỗi trong 7 ngày đầu tiên
      </span>
    </div>

    <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
      <h4 class="m-text12 t-center">
        Mở cửa
      </h4>

      <span class="s-text11 t-center">
        Mở cửa tất cả các ngày trong tuần
      </span>
    </div>
  </div>
</section>